<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AHS:RT</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jstat@latest/dist/jstat.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header>
    <h1>Auburn High Reaction Test</h1>
    <p id="totalPeopleCount"></p>
    <p>Wait until the box turns <b>blue</b>, then click as fast as you can!</p>
  </header>

  <main>
    <section id="reaction-test">
      <div id="box" tabindex="0" aria-live="polite">Click anywhere to start.</div>
      <p id="stats"></p>
      <div id="userInfo"></div>
    </section>

    <section id="share-container">
      <p>Test your reaction time and see how you compare! After each attempt, you'll get:</p>
      <ul>
        <li><b>Your personal reaction time distribution</b></li>
        <li><b>A comparison to the global sample</b></li>
        <li><b>Your percentile ranking</b>—see if you're faster than most!</li>
      </ul>
      <p>Give it a try! Then, share this test with friends to compare scores and help me collect data for my Specialist Math SAC.</p>
      <button id="copy-button">Copy Link</button>
    </section>

    <section id="chart-container">
      <div class="chart-wrapper">
        <canvas id="userChart"></canvas>
      </div>
      <div class="chart-wrapper">
        <canvas id="globalChart"></canvas>
      </div>
    </section>
  </main>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>